@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Purpose */
:root {
    --color-accent: rgba(73, 37, 233, 1);
    --color-accent-opacity-3: rgba(73, 37, 233, 0.3);

    --color-edit: rgba(23, 183, 146, 1);
    --color-edit-opacity-3: rgba(23, 183, 146, 0.3);

    --color-delete: rgb(227, 35, 18);
    --color-delete-opacity-3: rgba(227, 35, 18, 0.3);
}

a {
    text-decoration: none !important;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FAFBFF !important;
}

/* Tables */

table {
    font-size: clamp(0.75rem, 0.4659rem + 0.4545vw, 0.875rem) !important;
}

tr {
    border-bottom: 1px solid rgb(222, 226, 230) !important;
}

td,
th {
    padding: 0.8rem 1rem !important;
}

th {
    font-weight: 400;
    color: rgb(108, 117, 125);
}

td {
    font-weight: 500;
}


/* Buttons */
.btn-mine-light,
.btn-mine,
.btn-edit,
.btn-delete {
    padding: 0.5rem 1.5rem;
    color: var(--color-accent) !important;
    background-color: white !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    box-shadow: 0 0.2rem 0.5rem var(--color-accent-opacity-3);
}

.btn-mine {
    color: white !important;
    background-color: var(--color-accent) !important;
}

.btn-mine-light:hover {
    color: white !important;
    background-color: var(--color-accent) !important;
}

.btn-mine:hover {
    color: var(--color-accent) !important;
    background-color: white !important;
}

.btn-edit {
    color: var(--color-edit) !important;
    box-shadow: 0 0.2rem 0.5rem var(--color-edit-opacity-3);
}

.btn-edit:hover {
    color: white !important;
    background-color: var(--color-edit) !important;
}

.btn-delete {
    color: var(--color-delete) !important;
    box-shadow: 0 0.2rem 0.5rem var(--color-delete-opacity-3);
}

.btn-delete:hover {
    color: white !important;
    background-color: var(--color-delete) !important;
}


/* Others */
.shadow-accent {
    box-shadow: 0 0.2rem 0.5rem rgba(73, 37, 233, 0.1);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-accent-gradient {
    background: var(--color-accent);
    background: linear-gradient(227deg, rgba(231, 169, 240, 1) 7%, var(--color-accent) 73%);
}

.text-green {
    color: #17b792
}

input:read-only:not[type='checkbox'] {
    background-color: #f5f5f5;
    /* Same as input:disabled */
    color: #6c757d;
    /* Typically the same as input:disabled in most browsers */
    cursor: not-allowed;
    /* Same as input:disabled */
    border-color: #ced4da;
    /* Same as input:disabled in most browsers */
    opacity: 1;
    /* Override any opacity differences */
}

.toast {
    max-width: 400px !important;
    width: 400px !important;
}